body {
	background-color: white;
	text-align: center;
	color: black;
	font-family: Cooper;
}
h1 {
    color: black;
	font-family: Cooper;
}

table {
display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: 2px solid green;
    background: green;
    padding: 20px;
    border-collapse:separate;
    border-spacing:0 15px;
    color: white;
}

 #homeScreenButtons {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
 }
 
 .userdetailsTextbox {
 	font-size:16pt;
 	height:30px;
 	width:300px;
 	border: none;
 }
 
 .buttons {
    background-color: white;
    border: none;
    color: green;
    font-family: Cooper;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}




 